{% include 'mczr' %}
{% comment %}
  You can add or include some content in this page.
{% endcomment %}
<div class="page-width">
  <div>
    <h3>Your personalized Marinière will be handcrafted and embroidered in our Venice studio. <br>
      Choose the style, select the yarn, pick your base and stripe colours, and add the text that you’d like to embroider to get a truly one-of-a-kind piece</h3>
  </div>
  <div id="mczrLoader" style="text-align: center;">
  </div>
  <div>
    <p>It will take about 7 business days to create your custom Marinière. <br>
      From the moment you place your order, we’ll update you via WhatsApp, sharing progress on your striped shirt and keeping you involved in the creation process.</p>
  </div>
</div>
<script>
   
</script>